@import url("https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-lg: 896px;
  --font-display--font-variation-settings: "wght";
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
